<br>
<br><br>
  <table><tr><td><div class="card" id="lap1" style="width: 18rem;"><a routerLink="">
    <img src="assets/gy.jpg" class="card-img-top" alt="img1">
    <div class="card-body">
      <h5 class="card-title">MSI GF63</h5>
      <p class="card-text">MSI GF63 | 15.6" FHD 144Hz | i5-11400H | GTX 1650 | 8GB Ram [9S7-16R612-613]</p>
      <a routerLink="#" class="btn btn-primary">2389 TND</a>
      
    </div></a>
  </div></td>


<td><div class="card" id="lap1" style="width: 18rem;"><a href="">
    <img src="\assets\lap.jpg" class="card-img-top" alt="img2">
    <div class="card-body">
      <h5 class="card-title">ThinkPad E14</h5>
      <p class="card-text">ThinkPad E14 Gen 4 | 14 FHD | i5-1235U | MX550 2GB | 8GB Ram | 512 SSD</p>
      <a href="#" class="btn btn-primary"><label class="pp">2899 TND</label> </a>
      
    </div></a>
  </div></td>

  <td><div class="card" id="lap1" style="width: 18rem;"><a href="">
    <img src="\assets\lab.jpg" class="card-img-top" alt="img3">
    <div class="card-body">
      <h5 class="card-title">MSI Katana GF76</h5>
      <p class="card-text">MSI Katana | 17.3'' IPS 144Hz | i7-12650H | RTX 3060 | 16GB Ram <br><br></p>
      <a href="#" class="btn btn-primary">4399 TND</a>
      
    </div></a>
  </div></td>

  <td><div class="card" id="lap1" style="width: 18rem;"><a href="">
    <img src="\assets\1000.webp" class="card-img-top" alt="img4">
    <div class="card-body">
      <h5 class="card-title">Gigabyte AORUS 17G </h5>
      <p class="card-text">Gigabyte AORUS 17G - 17.3" 300HZ | i7-11800H | RTX 3070Q 8GB | 32 GB RAM</p>
      <a href="#" class="btn btn-primary">7499 TND</a>
      
    </div>
</a>
  </div></td>



</tr></table>
<br>
<br><br>
  <table><tr><td><div class="card" id="lap1" style="width: 18rem;"><a routerLink="">
    <img src="\assets\img\laptopgamer\msi1.webp" class="card-img-top" alt="img1">
    <div class="card-body">
      <h5 class="card-title">MSI GF63</h5>
      <p class="card-text">MSI GF63 | 15.6" FHD 144Hz | i5-11400H | GTX 1650 | 8GB Ram [9S7-16R612-613]</p>
      <a routerLink="#" class="btn btn-primary">2389 TND</a>
      
    </div></a>
  </div></td>


<td><div class="card" id="lap1" style="width: 18rem;"><a href="">
    <img src="\assets\img\laptopgamer\thinkpad\1.webp" class="card-img-top" alt="img2">
    <div class="card-body">
      <h5 class="card-title">ThinkPad E14</h5>
      <p class="card-text">ThinkPad E14 Gen 4 | 14 FHD | i5-1235U | MX550 2GB | 8GB Ram | 512 SSD</p>
      <a href="#" class="btn btn-primary"><label class="pp">2899 TND</label> </a>
      
    </div></a>
  </div></td>

  <td><div class="card" id="lap1" style="width: 18rem;"><a href="">
    <img src="\assets\img\laptopgamer\katana\1.webp" class="card-img-top" alt="img3">
    <div class="card-body">
      <h5 class="card-title">MSI Katana GF76</h5>
      <p class="card-text">MSI Katana | 17.3'' IPS 144Hz | i7-12650H | RTX 3060 | 16GB Ram <br><br></p>
      <a href="#" class="btn btn-primary">4399 TND</a>
      
    </div></a>
  </div></td>

  <td><div class="card" id="lap1" style="width: 18rem;"><a href="">
    <img src="\assets\img\laptopgamer\Gigabyte AORUS\1.webp" class="card-img-top" alt="img4">
    <div class="card-body">
      <h5 class="card-title">Gigabyte AORUS 17G </h5>
      <p class="card-text">Gigabyte AORUS 17G - 17.3" 300HZ | i7-11800H | RTX 3070Q 8GB | 32 GB RAM</p>
      <a href="#" class="btn btn-primary">7499 TND</a>
      
    </div>
</a>
  </div></td>



</tr></table>